@model Proyecto_PAA.ViewModels.PrioridadViewModel
@{
    ViewBag.Title = "Registro de Prioridades";
    //List<SelectListItem> establecimientos = (List<SelectListItem>)ViewBag.establecimientos;
}
<br />
<div class="card">
    <div class="card-header">
        <h3>Registro de Tipo de Prioridades</h3>
    </div>
    <div class="card-body">
        <form action="/prioridad/Crear" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label>Tipo de Prioridad:</label>
                <input type="text" name="PrioridadTipo" value="@Model.PrioridadTipo" class="form-control" />
                @Html.ValidationMessageFor(m => m.PrioridadTipo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Guardar <i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>
<br />
<h3 class="card-title" align="center">Listado de Prioridades</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>Tipo de Prioridad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        @foreach (var item in Model.Prioridades)
        {
            <tr>
                <td>@item.PrioridadId</td>
                <td>@item.PrioridadTipo</td>
                <td>
                    <a href="/prioridad/Update/@item.PrioridadId" class="btn btn-info btn-sm" title="Modificar">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="/prioridad/Delete/@item.PrioridadId" class="btn btn-danger btn-sm" title="Eliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<div class="bottom-left" align="right">
    <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
    </svg>
    <a href="/Admin/Index">Volver</a>
</div>
