@model Proyecto_PAA.ViewModels.EstablecimientoViewModel
@{
    ViewBag.Title = "Registro de Establecimientos";
}
<br />
<div class="row">
    <div class="card">
        <div class="card-header">
            <h3 align="center">Registro de Establecimiento</h3>
        </div>
        <div class="card-body">
            <form action="/establecimiento/Crear" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label>RBD:</label>
                    <input type="text" name="EstablecimientoRbd" value="@Model.EstablecimientoRbd" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EstablecimientoRbd, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Nombre Establecimiento:</label>
                    <input type="text" name="EstablecimientoNombre" value="@Model.EstablecimientoNombre" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EstablecimientoNombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Direccion Establecimiento:</label>
                    <input type="text" name="EstablecimientoDirecccion" value="@Model.EstablecimientoDirecccion" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EstablecimientoDirecccion, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Telefono Establecimiento:</label>
                    <input type="text" name="EstablecimientoFono" value="@Model.EstablecimientoFono" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EstablecimientoFono, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Guardar <i class="fa fa-save"></i></button>

                </div>

            </form>
        </div>
    </div>
</div>
<br />
<h3 class="card-title" align="center">Listado de Establecimientos</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>RBD</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones</th>

            </tr>
        </thead>
        @foreach (var item in Model.Establecimientos)
        {
        <tr>
            <td>@item.EstablecimientoId</td>
            <td>@item.EstablecimientoRbd</td>
            <td>@item.EstablecimientoNombre</td>
            <td>@item.EstablecimientoDirecccion</td>
            <td>@item.EstablecimientoFono</td>
            <td>
                <a href="/Establecimiento/Delete/@item.EstablecimientoId" class="btn btn-danger btn-sm" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
                <a href="/Establecimiento/Update/@item.EstablecimientoId" class="btn btn-info btn-sm" title="Modificar">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
        }
    </table>
</div>


